<%#= render 'status' %>

<%= render 'import_form' %>
<br><br>

</table>
<div>
  <div>
    <div>Recor comluns</div><div>File columns</div>
  </div>
  <div>
    <div>Name</div><div>F</div>
  </div>
  <div>
    <div>Date of Birth</div><div>F</div>
  </div>
  <div>
    <div>Phone</div><div>F</div>
  </div>
</div>

